.tarjeta {
  margin-bottom: 10px;
  border: solid 2px red;
  border-radius: 0;
  box-shadow: 5px 5px 10px pink;
  background-color: #181a1b;
  color: #d1cdc7;
  width: 20rem;
}
.tarjeta__titulo {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 600;
}
.tarjeta__texto {
  color: rgb(212, 209, 209);
}
.tarjeta__boton {
  margin: 10px;
  padding: 1px;
  border: solid white 3px;
  color: gold;
  background-color: rgb(123, 6, 6);
  font-size: larger;
  transition: 0.4s;
}
.tarjeta__boton:hover {
  color: white;
  background-color: red;
  box-shadow: 1px 1px 10px white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin-bottom: 0;
}

/* ---- header ---- */
header {
  background-color: #07203a;
  color: #aba9bb;
}

.navegacion-letras {
  color: white;
}

.barra-busqueda {
  margin: 10px;
}

.btn-busqueda {
  background-color: white;
  color: black;
  border: solid 3px black;
  box-shadow: 1px 1px 3px;
  border-radius: 10px;
}

.btn-busqueda:hover {
  background-color: rgb(250, 238, 9);
  color: black;
  transition: 0.2s;
  border: solid 3px darkmagenta;
  box-shadow: 3px 3px 30px white;
}

body {
  background-image: radial-gradient(circle, #ffe21f, #e9cd17, #d3b910, #bda507, #a89200);
  font-family: "Kanit", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: yellow;
}

.boton-hamburguesa {
  background-color: white;
}

/* ---- main portada ---- */
main {
  padding-bottom: 1rem;
}

.boton-ver {
  font-weight: 900;
  background-color: #8b0019;
  color: white;
  border: solid 3px black;
  box-shadow: 2px 2px 10px red;
  transition: 0.3s;
}

.boton-ver:hover {
  background-color: #ff0011;
  color: white;
  border: solid 3px black;
  font-size: 18px;
}

.imagen-portada {
  border-radius: 20px;
  border: solid 2px black;
  box-shadow: 1px 1px 1px;
}

h1 {
  margin: 10px;
  color: black;
  text-shadow: 3px 3px 10px;
  cursor: default;
}

.texto-inicio {
  font-size: larger;
  color: black;
  font-weight: 800;
}

/* ---- main contendio ---- */
.titulo-contenedor {
  margin-bottom: 20px;
  padding: 10px;
  color: white;
  text-shadow: white 2px 2px 10px;
  background-color: black;
  border: solid 1px;
}

.contenido {
  padding: 1rem;
  background-color: rgb(243, 237, 237);
  color: rgb(42, 41, 41);
  border: solid black 3px;
  height: 200px;
  overflow: auto;
  text-align: start;
  box-shadow: 1px 1px 20px pink;
}

.contenido-items {
  margin-bottom: 20px;
}

.imagen-juego {
  height: 100%;
  width: 100%;
  border: 3px solid;
}

.texto-informacion {
  font-size: larger;
  font-weight: 300;
}

/* ---- listado html ---- */
/* ---- pedir juego html ---- */
.texto-complementario {
  padding: 1rem;
  background-color: rgb(39, 38, 38);
  color: rgb(243, 237, 237);
  border: solid black 5px;
  width: 30rem;
  text-align: start;
  box-shadow: 1px 1px 20px pink;
}

.texto-complementario div {
  margin: 20px;
}

.formulario-inputs {
  border-radius: 10px;
  border: 2px red solid;
  box-shadow: 1px 1px 10px black;
}

/* --- carrusel ---- */
.imagen-carrusel {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.descripcion-carrusel {
  font-weight: 600;
  font-size: larger;
  text-shadow: 5px 5px 10px rgb(216, 216, 10);
}

/* ---- preguntas frecuentes html ---- */
.acordeon {
  background-color: #5c015e;
  border: solid black 5px;
  box-shadow: 1px 1px 20px pink;
  font-size: 20px;
}

.acordeon-titulo {
  font-size: 20px;
}

/* ---- footer ---- */
footer {
  background-color: #07203a;
  color: white;
  font-weight: 900;
  padding-top: 10px;
  margin-top: auto;
}

.redes:hover {
  height: 40px;
}

/*# sourceMappingURL=style.css.map */
