* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

/* ---- header ---- */

header {
    background-color: #c83943;
    color: #aba9bb;
}

.navegacion-letras {
    color: white;
}

.barra-busqueda {
    margin: 10px;
}

.btn-busqueda {

    background-color: white;
    color: black;
    border: solid 3px black;
    box-shadow: 1px 1px 3px;
    border-radius: 10px;
}

.btn-busqueda:hover {
    background-color: blue;
    color: aliceblue;
    transition: 0.2s;
    border: solid 3px darkmagenta;
}

body {
    background-image: radial-gradient(circle, #97abff, #798ce5, #5b6ecb, #3b51b1, #123597);
    font-family: 'Kanit', sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ---- main portada ---- */

main {
    padding-bottom: 1rem;
}

.boton-ver {
    font-weight: 900;
    background-color: #8b0019;
    color: white;
    border: solid 3px black;
    box-shadow: 2px 2px 10px red;
    transition: 0.3s;
}

.boton-ver:hover {
    background-color: #ff0011;
    color: white;
    border: solid 3px black;
    font-size: 2rem;
}

.imagen-portada {
    border-radius: 20px;
    border: solid 2px black;
    box-shadow: 1px 1px 1px;
}

h1 {
    margin: 10px;
    color: white;
    text-shadow: 3px 3px 10px;
    cursor: default;
}

.texto-inicio {
    font-size: larger;
    color: white;
}

/* ---- main contendio ---- */

h2 {
    padding: 10px;
    color: white;
    text-shadow: white 2px 2px 10px;
    background-color: black;
    border: solid 1px;
}

.titulo-contenedor {
    margin-bottom: 20px;
}

.contenido {
    padding: 1rem;
    background-color: #5c015e;
    color: rgb(243, 237, 237);
    border: solid black 5px;
    height: 200px;
    overflow: auto;
    text-align: start;
    box-shadow: 1px 1px 20px pink;
}

.contenido-items {
    margin-bottom: 20px;
}


.imagen-juego {
    height: 100%;
    width: 100%;
    border: 3px solid;
}



/* ---- listado html ---- */

h3 {
    font-size: 1rem;
    font-weight: 600;
    cursor: default;
}


.tarjeta {
    margin-bottom: 10px;
    border: solid 2px red;
    border-radius: 0;
    box-shadow: 5px 5px 10px pink;
    background-color: #181a1b;
    color: #d1cdc7;
    width: 20rem;
}

.texto-tarjeta {
    color: rgb(212, 209, 209);
    cursor: default;
}


.boton-comprar {
    margin: 10px;
    padding: 1px;
    border-radius: 10px;
    border: solid white 3px;
    color: black;
    background-color: rgb(221, 9, 9);
    font-size: larger;
}

.boton-comprar:hover {
    color: white;
    font-weight: 600;
    box-shadow: 1px 1px 10px white;
    transition: 0.4s;
}

/* ---- pedir juego html ---- */

.texto-complementario {
    padding: 1rem;
    background-color: #5c015e;
    color: rgb(243, 237, 237);
    border: solid black 5px;
    width: 30rem;
    text-align: start;
    box-shadow: 1px 1px 20px pink;
}

.texto-complementario div {
    margin: 20px;
}

.formulario-inputs {
    border-radius: 10px;
    border: 2px red solid;
    box-shadow: 1px 1px 10px black;
}

/* ---- preguntas frecuentes html ---- */

.acordeon {
    background-color: #5c015e;
    border: solid black 5px;
    box-shadow: 1px 1px 20px pink;
}




/* ---- footer ---- */

footer {
    background-color: #c83943;
    color: white;
    font-weight: 900;
    padding-top: 10px;

    margin-top: auto;
}

.redes:hover {
    margin-top: 10px;

}