* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* ---- header ---- */


.barra-busqueda{
    margin: 10px;
}

.btn-busqueda{

    background-color: white;
    color: black;
    border: solid 3px black;
    box-shadow: 1px 1px 3px;
    border-radius: 10px;
}

.btn-busqueda:hover{
    background-color: blue;
    color: aliceblue;
    transition: 0.2s;
    border: solid 3px darkmagenta;
}

body{
    font-family: 'Kanit', sans-serif;
}

/* ---- main portada ---- */


.btn-main{
    background-color: aquamarine;
    border: double 3px black;
    box-shadow: 10px 10px 10px;
}

.btn-main:hover{
    background-color: aquamarine;
    border: solid 3px black;
}

.imagen-portada{
    border-radius: 20px;
}

.portada{
    margin-top: 15px;
}

/* ---- main contendio ---- */

.contenido{
    margin-top: 70px;

}

h2{
    padding: 10px;
    background-color: #00357d;
    color: white;
}

article{
    padding: 10px;
    background-color: #00357d;
    color: white;
    border: solid black 5px;
    margin-top: 1px;
    height: 200px;
    overflow: auto;
    text-align: start;
}





/* ---- footer ---- */

footer{
background-color: #00357d;
color: #6cd9c6;
padding: 1em 0;
text-align: center;
margin-top: 20px;
}