@import "./utils/variables";
@import "./utils/mixin";

@import "./base/base";

@import "./components/navbar";
@import "./components/botones";
@import "./components/tarjetas";
@import "./components/carrusel";
@import "./components/acordeon";

@import "./pages/index";
@import "./pages/listado";
@import "./pages/pedir-juego";
@import "./pages/nosotros";
@import "./pages/faq";





/* ---- partial? ---- */

body {
    background-image: radial-gradient(circle, #ffe21f, #e9cd17, #d3b910, #bda507, #a89200);
    font-family: 'Kanit', sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding-bottom: 1rem;
}

/* ---- main portada partial? ---- */


.imagen-portada {
    border-radius: 20px;
    border: solid 2px black;
    box-shadow: 1px 1px 1px;
}

h1 {
    margin: 10px;
    color: black;
    text-shadow: 3px 3px 10px;
}

.texto-inicio {
    color: black;
    @include font(800, larger);
}

/* ---- main contendio ---- */

.titulo-contenedor {
    margin-bottom: 20px;

    padding: 10px;
    color: white;
    text-shadow: white 2px 2px 10px;
    background-color: black;
    border: solid 1px;
}

/* ---- listado html ---- */


/* ---- pedir juego html ---- */

.formulario {
    padding: 1rem;
    background-color: rgb(39, 38, 38);
    color: rgb(243, 237, 237);
    border: solid black 5px;
    width: 30rem;
    text-align: start;
    box-shadow: 1px 1px 20px $sombra-cajas;

    & div {
        margin: 20px;
    }

    &__inputs {
        border-radius: 10px;
        border: 2px red solid;
        box-shadow: 1px 1px 10px black;
    }
}

/* --- carrusel ---- */



/* ---- preguntas frecuentes html ---- */



/* ---- footer ---- */

