@mixin font($weight, $size){
    font-weight: $weight;
    font-size: $size;
}

@mixin imagen($alto, $ancho){
    height: $alto;
    width: $ancho;
}

@mixin colores($fondo, $texto){
    background-color: $fondo;
    color: $texto;
}