$fondo-header: #07203a;
$amarillo-hover: rgb(250, 238, 9);
$rojo-uno: #ff0011;
$sombra-cajas: rgb(241, 182, 192);
$border-hover: rgb(143, 3, 143);
$fondo-tarjetas: #181a1b;
$color-letrastarjetas: #d1cdc7;
$font-parrafonosotros: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fondo-body: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
$color-textosbody: rgb(249, 249, 249);
$color-textoinicio: rgb(42, 40, 40);