.grilla {
    margin-bottom: 20px;

    &__imagen {
        @include imagen(100%, 100%);
        border: 3px solid;
    }
}

.informacion {
    padding: 1rem;
    @include colores(rgb(243, 237, 237), rgb(42, 41, 41));
    border: solid black 3px;
    height: auto;
    overflow: auto;
    text-align: start;
    box-shadow: 1px 1px 20px $sombra-cajas;
    border-radius: 10px
}

.tecnico {
    font-size: map-get($tipografia, "main");
    font-weight: 300;
    color: $color-textosbody;

}

.imagen-portada {
    border-radius: 20px;
    border: solid 2px black;
    box-shadow: 1px 1px 1px;
}

h1 {
    margin: 10px;
    color: $color-textosbody;
    text-shadow: 3px 3px 10px;
}

.texto-inicio {
    color: $color-textoinicio;
    @include font(800, larger);
}