.acordeon {
    border: solid black 5px;
    box-shadow: 1px 1px 20px $sombra-cajas;
    font-size: 20px;
    border-radius: 10px;

    &__btnacordeon {
        font-size: 20px;
    }

    &__titulopregunta {
        font-size: larger;
        font-weight: 900;
    }
}