boton-ver {
    font-weight: 900;
    background-color: #8b0019;
    color: white;
    border: solid 3px black;
    box-shadow: 2px 2px 10px red;
    transition: 0.3s;

    &:hover {
        background-color: #ff0011;
        color: white;
        border: solid 3px black;
        font-size: 18px;
    }
}

boton-comprar {
    margin: 10px;
    padding: 1px;
    border: solid white 3px;
    color: gold;
    background-color: rgb(123, 6, 6);
    font-size: larger;
    transition: 0.4s;

    &:hover {
        color: white;
        background-color: red;
        box-shadow: 1px 1px 10px white;
    }
}