.carrusel__imagen {
    height: 600px;
    width: 100%;

    object-fit: cover;
}

.carrusel__texto {
    font-weight: 600;
    font-size: map-get($tipografia,"main");
    text-shadow: 5px 5px 10px $header-hover;
    color: $color-textoinicio;
    background-color: $color-textosbody;
    border-radius: 10px;
    border: 2px black solid;
    opacity: 0.90;
    box-shadow: 10px 10px 60px blue;
}