.tarjeta {
    margin-bottom: 10px;
    border: solid 2px red;
    border-radius: 0;
    box-shadow: 5px 5px 10px pink;
    background-color: #181a1b;
    color: #d1cdc7;
    width: 20rem;

    &__titulo {
        margin-bottom: 10px;
        font-size: 1rem;
        font-weight: 600;
    }

    &__texto {
        color: rgb(212, 209, 209);
    }

    // los botones de las tarjetas se pueden pasar al partial botones?
    &__boton {
        margin: 10px;
        padding: 1px;
        border: solid white 3px;
        color: gold;
        background-color: rgb(123, 6, 6);
        font-size: larger;
        transition: 0.4s;
        
        &:hover {
            color: white;
            background-color: red;
            box-shadow: 1px 1px 10px white;
        }
    }

}


