.tarjeta {
    margin-bottom: 10px;
    border: solid 2px red;
    border-radius: 0;
    box-shadow: 5px 5px 10px $sombra-cajas;
    background-color: $fondo-tarjetas;
    color: $color-letrastarjetas;
    width: 20rem;

    &__titulo {
        margin-bottom: 10px;
        font-size: 1rem;
        font-weight: 600;
    }

    &__texto {
        color: rgb(212, 209, 209);
    }

    &__boton {
        margin: 10px;
        padding: 1px;
        border: solid white 3px;
        @include colores(rgb(123, 6, 6), gold);
        font-size: larger;
        transition: 0.4s;

        &:hover {
            @include colores(red, white);
            box-shadow: 1px 1px 10px white;
        }
    }

    &__boton--precompra {
        margin: 10px;
        padding: 1px;
        border: solid white 3px;
        @include colores(green, gold);
        font-size: larger;
        transition: 0.4s;

        &:hover {
            @include colores(rgb(143, 210, 42), black);
            box-shadow: 1px 1px 10px white;
        }
    }

    &__boton--oferta {
        margin: 10px;
        padding: 1px;
        border: solid white 3px;
        @include colores(rgb(0, 21, 128), gold);
        font-size: larger;
        transition: 0.4s;

        &:hover {
            @include colores(rgb(4, 34, 187), red);
            box-shadow: 1px 1px 10px white;
        }
    }

}

.tarjetanosotros {
    box-shadow: 5px 5px 10px purple;

    &__body {
        background-color: $fondo-tarjetas;
        color: $color-letrastarjetas;
        border-radius: 0px 0.375rem 0.375rem 0px;
    }

    &__body--izquierda {
        background-color: $fondo-tarjetas;
        color: $color-letrastarjetas;
        border-radius: 0.375rem 0px 0px 0.375rem;
    }

    &__titulo {
        font-weight: 900;
    }

    &__parrafo {
        font-family: $font-parrafonosotros;
        font-size: medium;
    }

    &__imagen {
        @include imagen (100%, 100%)
    }
}