* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    background-image: $fondo-body;
    font-family: 'Kanit', sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding-bottom: 1rem;
}

.titulo-contenedor {
    margin-bottom: 20px;

    padding: 10px;
    color: $color-textosbody;
    text-shadow: $header-hover 2px 2px 10px;
    background-color: $fondo-tarjetas;
    border: solid 1px;
}

th,
td {
    color: white;
}